body {
  font-family: Space Grotesk;
}
.display-1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 7.8rem;
  line-height: 100%;
}
.display-1 > .mbr-iconfont {
  font-size: 9.75rem;
}
.display-2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 6rem;
  line-height: 100%;
}
.display-2 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-4 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 100%;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2.7rem;
  line-height: 100%;
}
.display-5 > .mbr-iconfont {
  font-size: 3.375rem;
}
.display-7 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.4rem;
  line-height: 124%;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6.24rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.46rem;
    font-size: calc( 3.38rem + (7.8 - 3.38) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.38rem + (7.8 - 3.38) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.16rem;
    font-size: calc( 1.595rem + (2.7 - 1.595) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.595rem + (2.7 - 1.595) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 15em;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 15em;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 15em;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 15em;
}
.bg-primary {
  background-color: #ed2d03 !important;
}
.bg-success {
  background-color: #2cc703 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #edeb03 !important;
}
.bg-danger {
  background-color: #edb503 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ed2d03 !important;
  border-color: #ed2d03 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #971d02 !important;
  border-color: #971d02 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #971d02 !important;
  border-color: #971d02 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #1d61f1 !important;
  border-color: #1d61f1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0b3fad !important;
  border-color: #0b3fad !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0b3fad !important;
  border-color: #0b3fad !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #2cc703 !important;
  border-color: #2cc703 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #197202 !important;
  border-color: #197202 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #197202 !important;
  border-color: #197202 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #edeb03 !important;
  border-color: #edeb03 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #979602 !important;
  border-color: #979602 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #000000 !important;
  background-color: #979602 !important;
  border-color: #979602 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #edb503 !important;
  border-color: #edb503 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #977402 !important;
  border-color: #977402 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #977402 !important;
  border-color: #977402 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ed2d03;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #971d02 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ed2d03 !important;
  border-color: #ed2d03 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1d61f1;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #0b3fad !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #1d61f1 !important;
  border-color: #1d61f1 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2cc703;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #197202 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2cc703 !important;
  border-color: #2cc703 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #edeb03;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #979602 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #000000 !important;
  background-color: #edeb03 !important;
  border-color: #edeb03 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #edb503;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #977402 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #edb503 !important;
  border-color: #edb503 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ed2d03 !important;
}
.text-secondary {
  color: #1d61f1 !important;
}
.text-success {
  color: #2cc703 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #edeb03 !important;
}
.text-danger {
  color: #edb503 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #881a02 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #0a399e !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #166301 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #888702 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #886802 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ed2d03;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #edeb03;
}
.alert-danger {
  background-color: #edb503;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ed2d03;
  border-color: #ed2d03;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ed2d03;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fec9be;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #72fc4d;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fefebe;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #feefbe;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 100%;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ed2d03 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 100%;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #ed2d03;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ed2d03;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ed2d03;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ed2d03;
  border-bottom-color: #ed2d03;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ed2d03 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #1d61f1 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ed2d03' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  box-shadow: none;
  padding: 20px 32px;
  height: 76px;
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  box-shadow: none;
}
.mbr-section-btn-main .btn {
  padding: 20px;
  height: auto;
}
.mbr-background-video {
  padding: 0;
}
.cid-tzrhAm0Dc8 {
  background-color: #f6f6f6;
  border: 18px solid #f6f6f6;
}
@media (max-width: 768px) {
  .cid-tzrhAm0Dc8 {
    border: 8px solid #f6f6f6;
  }
}
.cid-tzrhAm0Dc8 .navbar.navbar-dropdown {
  border-radius: 1.2em;
}
.cid-tzrhAm0Dc8 .navbar-dropdown {
  background-color: #111111 !important;
  padding: 0;
}
.cid-tzrhAm0Dc8 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #111111 !important;
  background: #111111;
}
.cid-tzrhAm0Dc8 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-tzrhAm0Dc8 .menu_box .navbar.opened,
  .cid-tzrhAm0Dc8 .menu_box .navbar-collapse {
    background-color: #111111 !important;
    transition: all 0s ease 0s;
  }
}
.cid-tzrhAm0Dc8 .navbar-dropdown {
  position: relative !important;
}
.cid-tzrhAm0Dc8 .icons-menu-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}
@media (max-width: 991px) {
  .cid-tzrhAm0Dc8 .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tzrhAm0Dc8 .mbr-section-btn-main {
    margin-top: 1rem;
  }
}
.cid-tzrhAm0Dc8 .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-tzrhAm0Dc8 .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-tzrhAm0Dc8 .offcanvas {
    padding: 12rem 64px 0;
    width: 50%;
    background-color: #111111;
  }
  .cid-tzrhAm0Dc8 .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-tzrhAm0Dc8 .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-tzrhAm0Dc8 .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-tzrhAm0Dc8 .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-tzrhAm0Dc8 .offcanvas-body .mbr-text,
  .cid-tzrhAm0Dc8 .offcanvas-body .mbr-section-subtitle {
    margin-bottom: 32px;
  }
  .cid-tzrhAm0Dc8 .offcanvas-body .offcanvas_contact {
    margin: 0;
  }
  .cid-tzrhAm0Dc8 .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-tzrhAm0Dc8 .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #ed2c03;
  }
  .cid-tzrhAm0Dc8 .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-tzrhAm0Dc8 .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-tzrhAm0Dc8 .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-tzrhAm0Dc8 .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-tzrhAm0Dc8 ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-tzrhAm0Dc8 .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tzrhAm0Dc8 .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-tzrhAm0Dc8 .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-tzrhAm0Dc8 li.nav-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-tzrhAm0Dc8 .lg_brand {
    margin: 0 1rem;
  }
}
.cid-tzrhAm0Dc8 .nav-item {
  margin: 4px 15px;
  position: relative;
  padding: 20px !important;
  border-radius: 15em;
}
@media (min-width: 1200px) {
  .cid-tzrhAm0Dc8 .nav-item {
    margin: 4px 5px;
  }
}
@media (max-width: 991px) {
  .cid-tzrhAm0Dc8 .nav-item {
    margin: 4px 0 !important;
  }
}
.cid-tzrhAm0Dc8 .nav-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15em;
  background-color: #ffffff;
  opacity: .1;
}
.cid-tzrhAm0Dc8 .nav-item .nav-link {
  position: relative;
  transition: all 0.3s ease-out;
}
.cid-tzrhAm0Dc8 .nav-item .nav-link:hover {
  color: #ed2d03 !important;
}
.cid-tzrhAm0Dc8 .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tzrhAm0Dc8 .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-tzrhAm0Dc8 .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-tzrhAm0Dc8 .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tzrhAm0Dc8 .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-tzrhAm0Dc8 .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-tzrhAm0Dc8 .offcanvas_box {
    display: none;
  }
}
.cid-tzrhAm0Dc8 .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-tzrhAm0Dc8 .nav-dropdown .link {
  font-weight: 600 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-tzrhAm0Dc8 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-tzrhAm0Dc8 .container {
  display: flex;
  margin: auto;
}
.cid-tzrhAm0Dc8 .iconfont-wrapper {
  color: #ffffff;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-tzrhAm0Dc8 .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-tzrhAm0Dc8 .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-tzrhAm0Dc8 .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-tzrhAm0Dc8 .navbar-nav {
    margin: 0;
  }
}
.cid-tzrhAm0Dc8 .dropdown-menu,
.cid-tzrhAm0Dc8 .navbar.opened {
  background-color: false !important;
}
.cid-tzrhAm0Dc8 .nav-item:focus,
.cid-tzrhAm0Dc8 .nav-link:focus {
  outline: none;
}
.cid-tzrhAm0Dc8 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tzrhAm0Dc8 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tzrhAm0Dc8 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tzrhAm0Dc8 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tzrhAm0Dc8 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tzrhAm0Dc8 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tzrhAm0Dc8 .navbar {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-tzrhAm0Dc8 .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-tzrhAm0Dc8 .navbar.opened {
  transition: all 0.3s;
}
.cid-tzrhAm0Dc8 .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-tzrhAm0Dc8 .navbar .navbar-logo img {
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
  border-radius: .5em;
}
.cid-tzrhAm0Dc8 .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-tzrhAm0Dc8 .navbar.collapsed {
  justify-content: center;
}
.cid-tzrhAm0Dc8 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tzrhAm0Dc8 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tzrhAm0Dc8 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tzrhAm0Dc8 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tzrhAm0Dc8 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tzrhAm0Dc8 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-tzrhAm0Dc8 .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tzrhAm0Dc8 .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-tzrhAm0Dc8 .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-tzrhAm0Dc8 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tzrhAm0Dc8 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tzrhAm0Dc8 .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-tzrhAm0Dc8 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tzrhAm0Dc8 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-tzrhAm0Dc8 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tzrhAm0Dc8 .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-tzrhAm0Dc8 .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-tzrhAm0Dc8 .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-tzrhAm0Dc8 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tzrhAm0Dc8 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tzrhAm0Dc8 .navbar .icons-menu {
    padding: 0;
  }
}
.cid-tzrhAm0Dc8 .navbar.navbar-short {
  min-height: 60px;
}
.cid-tzrhAm0Dc8 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tzrhAm0Dc8 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tzrhAm0Dc8 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tzrhAm0Dc8 .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 600;
}
.cid-tzrhAm0Dc8 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tzrhAm0Dc8 .dropdown-item.active,
.cid-tzrhAm0Dc8 .dropdown-item:active {
  background-color: transparent;
}
.cid-tzrhAm0Dc8 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tzrhAm0Dc8 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tzrhAm0Dc8 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tzrhAm0Dc8 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tzrhAm0Dc8 ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-tzrhAm0Dc8 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tzrhAm0Dc8 button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #111111;
  background: #ffffff;
}
.cid-tzrhAm0Dc8 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #ed2c03;
}
.cid-tzrhAm0Dc8 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tzrhAm0Dc8 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tzrhAm0Dc8 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tzrhAm0Dc8 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tzrhAm0Dc8 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tzrhAm0Dc8 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tzrhAm0Dc8 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tzrhAm0Dc8 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tzrhAm0Dc8 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-tzrhAm0Dc8 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tzrhAm0Dc8 .navbar {
    height: 70px;
  }
  .cid-tzrhAm0Dc8 .navbar.opened {
    height: auto;
  }
  .cid-tzrhAm0Dc8 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tzrhAm0Dc8 .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
.cid-tzrhAm0Dc8 .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 992px) {
  .cid-tzrhAm0Dc8 .container-fluid {
    padding-left: 34px;
    padding-right: 34px;
  }
}
.cid-tzrhAm0Dc8 .mbr-section-btn-main {
  padding-top: 5px;
}
.cid-tzrhAm0Dc8 .mbr-section-btn-main .btn {
  margin: 0 4px 4px 4px;
}
@media (max-width: 992px) {
  .cid-tzrhAm0Dc8 .mbr-section-btn-main .btn {
    margin: 0 16px 4px;
  }
}
@media (max-width: 1400px) {
  .cid-tzrhAm0Dc8 .mbr-section-btn-main .btn {
    padding: 20px;
    margin-bottom: 14px;
  }
}
.cid-tzrhAm0Dc8 .navbar-caption:hover {
  opacity: 1;
}
@media (min-width: 992px) {
  .cid-tzrhAm0Dc8 .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-tzrhAm0Dc8 .text_widget {
  margin-bottom: 32px;
}
.cid-tzrhAm0Dc8 .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-tzrhAm0Dc8 .text_widget a:hover {
  color: #ed2d03 !important;
}
.cid-tzrhAm0Dc8 .mbr-section-subtitle {
  color: #ED2C03;
  text-align: left;
}
.cid-tzrhAm0Dc8 .mbr-text {
  color: #ffffff;
  text-align: left;
}
.cid-tzrhAm0Dc8 .mbr-section-subtitle,
.cid-tzrhAm0Dc8 .text_widget,
.cid-tzrhAm0Dc8 .mbr-section-btn {
  text-align: left;
}
.cid-tzrhAm0Dc8 a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-tzrhAFcyWB {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrhAFcyWB {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrhAFcyWB .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrhAFcyWB section .mbr-background-video-preview {
  border-radius: 1.2rem !important;
}
.cid-tzrhAFcyWB .row {
  position: relative;
  padding: 0 18px 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2em;
  overflow: hidden;
}
.cid-tzrhAFcyWB .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrhAFcyWB .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.jpg");
}
@media (max-width: 992px) {
  .cid-tzrhAFcyWB .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tzrhAFcyWB .title-wrapper {
  padding-top: 15%;
}
@media (max-width: 992px) {
  .cid-tzrhAFcyWB .title-wrapper {
    padding-top: 0;
  }
}
.cid-tzrhAFcyWB .title-wrapper .mbr-section-title {
  margin-bottom: 72px;
}
@media (max-width: 992px) {
  .cid-tzrhAFcyWB .title-wrapper .mbr-section-title {
    margin-bottom: 30px;
  }
}
.cid-tzrhAFcyWB .title-wrapper .mbr-section-title span {
  color: #ed2c03;
}
.cid-tzrhAFcyWB .title-wrapper .mbr-desc {
  margin-bottom: 62px;
}
@media (max-width: 992px) {
  .cid-tzrhAFcyWB .title-wrapper .mbr-desc {
    margin-bottom: 20px;
  }
}
.cid-tzrhAFcyWB .mbr-section-title {
  color: #ffffff;
}
.cid-tzrhAFcyWB .mbr-desc {
  color: #ffffff;
}
.cid-tzrhEkbOv9 {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrhEkbOv9 {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrhEkbOv9 .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrhEkbOv9 .mbr-overlay {
  border-radius: 1.2rem;
}
.cid-tzrhEkbOv9 .row {
  position: relative;
  padding: 0 18px 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #ed2c03;
}
.cid-tzrhEkbOv9 .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrhEkbOv9 .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzrhEkbOv9 .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tzrhEkbOv9 .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-tzrhEkbOv9 .mbr-section-title {
  color: #ffffff;
}
.cid-tzrhCTfMQk {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrhCTfMQk {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrhCTfMQk .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrhCTfMQk .mbr-overlay {
  border-radius: 1.2rem;
}
.cid-tzrhCTfMQk .row {
  position: relative;
  padding: 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2em;
  padding-top: 0rem;
  padding-bottom: 0rem;
  overflow: hidden;
  background-color: #f6f6f6;
}
.cid-tzrhCTfMQk .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrhCTfMQk .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzrhCTfMQk .row {
    padding: 32px 0;
  }
}
.cid-tzrhCTfMQk .item {
  padding: 0 12px 0 0;
  overflow: hidden;
}
.cid-tzrhCTfMQk .item:nth-child(3n) {
  padding: 0 0 0 12px;
}
@media (max-width: 992px) {
  .cid-tzrhCTfMQk .item:nth-child(3n) {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .cid-tzrhCTfMQk .item {
    padding: 0;
    margin-bottom: 24px;
  }
}
.cid-tzrhCTfMQk .item a {
  display: block;
}
.cid-tzrhCTfMQk .item a .item-wrapper {
  border-radius: 1.2em;
}
.cid-tzrhCTfMQk .item a .item-wrapper .item-img {
  position: relative;
  min-height: 690px;
  padding: 32px;
}
@media (max-width: 992px) {
  .cid-tzrhCTfMQk .item a .item-wrapper .item-img {
    min-height: 300px;
    padding: 16px;
  }
}
.cid-tzrhCTfMQk .item a .item-wrapper .item-img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-tzrhCTfMQk .item a .item-wrapper .item-img .title-wrapper {
  position: relative;
}
.cid-tzrhCTfMQk .item a .item-wrapper .item-img .title-wrapper .mbr-section-title {
  display: inline-flex;
  padding: 20px 32px;
  margin-bottom: 0;
  background-color: #ffffff;
  border-radius: 15em;
  min-height: 76px;
}
@media (max-width: 768px) {
  .cid-tzrhCTfMQk .item a .item-wrapper .item-img .title-wrapper .mbr-section-title {
    padding: 20px 24px;
  }
}
.cid-tzrhCTfMQk .mbr-section-title {
  color: #000000;
}
.cid-tzrhJ8NEYO {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrhJ8NEYO {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrhJ8NEYO .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrhJ8NEYO .mbr-overlay {
  border-radius: 1.2rem;
}
.cid-tzrhJ8NEYO .row {
  position: relative;
  padding: 0;
  margin: 0 -6px;
  justify-content: center;
  border-radius: 1.2em;
  padding-top: 0rem;
  padding-bottom: 0rem;
  overflow: hidden;
  background-color: #f6f6f6;
}
.cid-tzrhJ8NEYO .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrhJ8NEYO .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzrhJ8NEYO .row {
    padding: 32px 0;
    margin: 0;
  }
}
.cid-tzrhJ8NEYO .card {
  padding: 0 6px;
}
@media (max-width: 992px) {
  .cid-tzrhJ8NEYO .card {
    padding: 0;
    margin-bottom: 24px;
  }
}
.cid-tzrhJ8NEYO .card .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 32px 16px;
  background-color: #ffffff;
  border-radius: 1.2em;
  min-height: 480px;
}
@media (max-width: 768px) {
  .cid-tzrhJ8NEYO .card .card-wrapper {
    min-height: 300px;
  }
}
.cid-tzrhJ8NEYO .card .card-wrapper .card-number .mbr-number {
  position: relative;
  display: inline-flex;
  margin-right: 75px;
  margin-bottom: 0;
}
.cid-tzrhJ8NEYO .card .card-wrapper .card-number .mbr-number span {
  position: absolute;
  top: 0;
  right: -5rem;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 24%;
}
.cid-tzrhJ8NEYO .card .card-wrapper .card-text .mbr-text {
  margin-bottom: 0;
}
.cid-tzrhJ8NEYO .mbr-number {
  color: #ed2c03;
}
.cid-tzrhJ8NEYO .mbr-text {
  color: #000000;
}
.cid-tzrhWSX6Wm {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrhWSX6Wm {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrhWSX6Wm .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrhWSX6Wm .mbr-overlay {
  border-radius: 1.2rem;
}
.cid-tzrhWSX6Wm .row {
  position: relative;
  padding: 0 18px 0;
  margin: 0;
  justify-content: space-between;
  border-radius: 1.2em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-tzrhWSX6Wm .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrhWSX6Wm .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzrhWSX6Wm .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tzrhWSX6Wm .card .image-wrapper img {
  margin-bottom: 24px;
}
.cid-tzrhWSX6Wm .image-wrapper img {
  height: 450px;
  object-fit: cover;
  border-radius: 1.2em;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tzrhWSX6Wm .image-wrapper img {
    height: 300px;
    margin-bottom: 24px;
  }
}
.cid-tzrhWSX6Wm .mbr-section-title {
  color: #ffffff;
}
.cid-tzrhTK7mZ3 {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrhTK7mZ3 {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrhTK7mZ3 .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrhTK7mZ3 .row {
  position: relative;
  padding: 0 18px 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #ed2c03;
}
.cid-tzrhTK7mZ3 .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrhTK7mZ3 .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzrhTK7mZ3 .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tzrhTK7mZ3 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tzrhTK7mZ3 .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tzrhTK7mZ3 .embla__slide .card-wrap {
  width: 100%;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 1.2em;
}
@media (max-width: 768px) {
  .cid-tzrhTK7mZ3 .embla__slide .card-wrap {
    padding: 16px;
  }
}
.cid-tzrhTK7mZ3 .embla__slide .card-wrap .content-wrap .mbr-section-title {
  margin-bottom: 16px;
}
.cid-tzrhTK7mZ3 .embla__slide .card-wrap .content-wrap .mbr-role {
  margin-bottom: 32px;
}
.cid-tzrhTK7mZ3 .embla__slide .card-wrap .content-wrap .mbr-text {
  margin-bottom: 0;
}
.cid-tzrhTK7mZ3 .embla__button--next,
.cid-tzrhTK7mZ3 .embla__button--prev {
  display: flex;
}
.cid-tzrhTK7mZ3 .embla__button {
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -1.5rem;
  font-size: 18px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 768px) {
  .cid-tzrhTK7mZ3 .embla__button {
    display: none;
  }
}
.cid-tzrhTK7mZ3 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tzrhTK7mZ3 .embla__button:hover {
  background: transparent;
  color: #ffffff;
}
.cid-tzrhTK7mZ3 .embla__button.embla__button--prev {
  left: -2rem;
  margin-left: 0;
}
@media (max-width: 992px) {
  .cid-tzrhTK7mZ3 .embla__button.embla__button--prev {
    left: 1rem;
  }
}
.cid-tzrhTK7mZ3 .embla__button.embla__button--next {
  right: -2rem;
  margin-right: 0;
}
@media (max-width: 992px) {
  .cid-tzrhTK7mZ3 .embla__button.embla__button--next {
    right: 1rem;
  }
}
@media (max-width: 992px) {
  .cid-tzrhTK7mZ3 .embla__button {
    top: auto;
    bottom: -1.8rem;
  }
}
.cid-tzrhTK7mZ3 .embla {
  position: relative;
  width: 100%;
}
.cid-tzrhTK7mZ3 .embla__viewport {
  overflow: hidden;
  width: 100%;
  border: none;
}
.cid-tzrhTK7mZ3 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tzrhTK7mZ3 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tzrhTK7mZ3 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tzrhTK7mZ3 .mbr-section-title {
  color: #ed2c03;
  text-align: center;
}
.cid-tzrhTK7mZ3 .mbr-role {
  color: #000000;
  text-align: center;
}
.cid-tzrhTK7mZ3 .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-tzrihM4xEI {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrihM4xEI {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrihM4xEI .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrihM4xEI section .mbr-background-video-preview {
  border-radius: 1.2rem !important;
}
.cid-tzrihM4xEI .row {
  position: relative;
  padding: 0 18px 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-tzrihM4xEI .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrihM4xEI .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzrihM4xEI .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tzrihM4xEI .title-wrapper .mbr-section-title {
  margin-bottom: 30px;
}
.cid-tzrihM4xEI .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tzrihM4xEI .title-wrapper .image-wrapper {
  margin-top: 72px;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-tzrihM4xEI .title-wrapper .image-wrapper {
    height: auto;
    margin-top: 30px;
  }
}
.cid-tzrihM4xEI .title-wrapper .image-wrapper img {
  height: 450px;
  width: 80%;
  object-fit: cover;
  border-radius: 1.2em;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .cid-tzrihM4xEI .title-wrapper .image-wrapper img {
    height: 300px;
    width: 100%;
    margin: 0;
  }
}
.cid-tzrihM4xEI .title-wrapper .mbr-section-btn {
  margin-top: 30px;
}
.cid-tzrihM4xEI .mbr-section-title {
  color: #ed2c03;
}
.cid-tzrihM4xEI .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-tzrihM4xEI .mbr-section-title,
.cid-tzrihM4xEI .mbr-section-btn {
  text-align: center;
}
.cid-tzrilPmWR5 {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrilPmWR5 {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrilPmWR5 .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrilPmWR5 .mbr-overlay {
  border-radius: 1.2rem;
}
.cid-tzrilPmWR5 .row {
  position: relative;
  padding: 0 18px 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #111111;
}
.cid-tzrilPmWR5 .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrilPmWR5 .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzrilPmWR5 .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tzrilPmWR5 .title-wrapper .mbr-section-title {
  margin-bottom: 72px;
}
@media (max-width: 992px) {
  .cid-tzrilPmWR5 .title-wrapper .mbr-section-title {
    margin-bottom: 30px;
  }
}
.cid-tzrilPmWR5 .title-wrapper .link-wrap {
  display: block;
}
.cid-tzrilPmWR5 .title-wrapper .link-wrap .mbr-link {
  position: relative;
  display: inline-flex;
  margin-bottom: 0;
}
.cid-tzrilPmWR5 .title-wrapper .link-wrap .mbr-link:hover::before {
  width: 100%;
}
.cid-tzrilPmWR5 .title-wrapper .link-wrap .mbr-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #ed2c03;
  transition: all 0.3s ease-out;
}
.cid-tzrilPmWR5 .mbr-section-title {
  color: #ffffff;
}
.cid-tzrilPmWR5 .mbr-link {
  color: #ed2c03;
}
.cid-tzri2heglo {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzri2heglo {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzri2heglo .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzri2heglo .mbr-overlay {
  border-radius: 1.2rem;
}
.cid-tzri2heglo .row {
  position: relative;
  padding: 0 34px 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #111111;
}
.cid-tzri2heglo .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzri2heglo .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzri2heglo .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tzri2heglo .title-wrapper .mbr-section-title {
  margin-bottom: 72px;
}
@media (max-width: 992px) {
  .cid-tzri2heglo .title-wrapper .mbr-section-title {
    margin-bottom: 30px;
  }
}
.cid-tzri2heglo .card {
  border: 1px solid #353535;
  border-right: none;
  border-radius: 0;
  padding: 0;
}
.cid-tzri2heglo .card:last-child {
  border-right: 1px solid #353535;
}
@media (max-width: 992px) {
  .cid-tzri2heglo .card {
    border-right: 1px solid #353535;
    border-bottom: none;
  }
  .cid-tzri2heglo .card:last-child {
    border-bottom: 1px solid #353535;
  }
}
.cid-tzri2heglo .card a:hover .card-wrapper .card-wrap,
.cid-tzri2heglo .card a:focus .card-wrapper .card-wrap {
  height: 100%;
  opacity: 1;
}
.cid-tzri2heglo .card a:hover .card-wrapper .card-wrap .card-text,
.cid-tzri2heglo .card a:focus .card-wrapper .card-wrap .card-text {
  opacity: 1;
}
.cid-tzri2heglo .card a:hover .card-wrapper .card-wrap .card-subtitle,
.cid-tzri2heglo .card a:focus .card-wrapper .card-wrap .card-subtitle {
  opacity: 1;
}
.cid-tzri2heglo .card a .card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 580px;
  padding: 36px 42px 30px;
  opacity: 1;
}
@media (max-width: 992px) {
  .cid-tzri2heglo .card a .card-wrapper {
    min-height: 300px;
    padding: 22px 15px;
  }
}
.cid-tzri2heglo .card a .card-wrapper .card-title .mbr-card-title {
  margin-bottom: 0;
}
.cid-tzri2heglo .card a .card-wrapper .card-price .mbr-desc {
  margin-bottom: 16px;
  opacity: .5;
}
.cid-tzri2heglo .card a .card-wrapper .card-price .mbr-price {
  margin-bottom: 0;
}
.cid-tzri2heglo .card a .card-wrapper .card-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ed2c03;
  transition: all 0.3s ease-out;
  padding: 36px 42px 30px;
  opacity: 0;
}
@media (max-width: 992px) {
  .cid-tzri2heglo .card a .card-wrapper .card-wrap {
    padding: 22px 15px;
  }
}
.cid-tzri2heglo .card a .card-wrapper .card-wrap .card-text {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.cid-tzri2heglo .card a .card-wrapper .card-wrap .card-text .mbr-text {
  margin-bottom: 0;
}
.cid-tzri2heglo .card a .card-wrapper .card-wrap .card-subtitle {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.cid-tzri2heglo .card a .card-wrapper .card-wrap .card-subtitle .mbr-desc {
  margin-bottom: 16px;
  opacity: .5;
}
.cid-tzri2heglo .card a .card-wrapper .card-wrap .card-subtitle .mbr-subtitle {
  margin-bottom: 0;
}
.cid-tzri2heglo .mbr-section-title {
  color: #ffffff;
}
.cid-tzri2heglo .mbr-card-title {
  color: #ed2c03;
}
.cid-tzri2heglo .mbr-desc {
  color: #ffffff;
}
.cid-tzri2heglo .mbr-price {
  color: #ffffff;
}
.cid-tzri2heglo .mbr-text {
  color: #ffffff;
}
.cid-tzri2heglo .mbr-subtitle {
  color: #ffffff;
}
.cid-tzrhZzA6sX {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrhZzA6sX {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrhZzA6sX .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrhZzA6sX .mbr-overlay {
  border-radius: 1.2rem;
}
.cid-tzrhZzA6sX .row {
  position: relative;
  padding: 0 18px 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #ed2c03;
}
.cid-tzrhZzA6sX .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrhZzA6sX .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzrhZzA6sX .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tzrhZzA6sX .mbr-section-title {
  margin-bottom: 72px;
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-tzrhZzA6sX .mbr-section-title {
    margin-bottom: 30px;
  }
}
.cid-tzrhZzA6sX .mbr-section-title span {
  color: #000000;
}
.cid-tzrhZzA6sX .dragArea.row {
  padding: 0;
}
.cid-tzrhZzA6sX .dragArea.row .form-group {
  margin-bottom: 32px !important;
}
.cid-tzrhZzA6sX .dragArea.row .form-group .form-control {
  padding: 32px 16px;
  background-color: #f6f6f6;
  box-shadow: none;
  border-bottom: none !important;
  border-radius: 1.2em;
}
.cid-tzrhZzA6sX .dragArea.row .form-group .form-control::placeholder {
  color: #ed2d03;
  opacity: .5;
}
@media (max-width: 768px) {
  .cid-tzrhZzA6sX .dragArea.row .form-group .form-control {
    padding: 16px;
  }
}
.cid-tzrhZzA6sX .dragArea.row .form-group textarea {
  min-height: 150px;
}
.cid-tzrhZzA6sX .dragArea.row .mbr-section-btn {
  width: 100%;
}
.cid-tzrhZzA6sX .dragArea.row .mbr-section-btn .btn {
  display: inline-flex;
}
.cid-tzrhZzA6sX .mbr-section-title,
.cid-tzrhZzA6sX .mbr-section-btn {
  text-align: center;
}
.cid-tzrhN2mVsR {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrhN2mVsR {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrhN2mVsR .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrhN2mVsR .mbr-overlay {
  border-radius: 1.2rem;
}
.cid-tzrhN2mVsR .row {
  position: relative;
  padding: 0 34px 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #111111;
}
.cid-tzrhN2mVsR .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrhN2mVsR .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzrhN2mVsR .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tzrhN2mVsR .title-wrapper .mbr-section-title {
  margin-bottom: 72px;
}
@media (max-width: 992px) {
  .cid-tzrhN2mVsR .title-wrapper .mbr-section-title {
    margin-bottom: 30px;
  }
}
.cid-tzrhN2mVsR .card {
  border-right: 1px solid #353535;
  border-bottom: 1px solid #353535;
  padding: 0;
  border-radius: 0;
}
.cid-tzrhN2mVsR .card:last-child {
  border-right: none;
}
@media (max-width: 992px) {
  .cid-tzrhN2mVsR .card {
    border: none;
  }
  .cid-tzrhN2mVsR .card:first-child {
    border-top: 1px solid #353535;
  }
  .cid-tzrhN2mVsR .card:last-child {
    border-bottom: 1px solid #353535;
  }
}
.cid-tzrhN2mVsR .card a {
  display: block;
}
.cid-tzrhN2mVsR .card a:hover .card-wrapper .mbr-link,
.cid-tzrhN2mVsR .card a:focus .card-wrapper .mbr-link {
  color: #ed2c03;
}
.cid-tzrhN2mVsR .card a .card-wrapper {
  padding: 32px 40px;
  min-height: 300px;
  text-align: center;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1440px) {
  .cid-tzrhN2mVsR .card a .card-wrapper {
    padding: 32px;
  }
}
@media (max-width: 1200px) {
  .cid-tzrhN2mVsR .card a .card-wrapper {
    padding: 32px 16px;
  }
}
@media (max-width: 992px) {
  .cid-tzrhN2mVsR .card a .card-wrapper {
    min-height: auto;
  }
}
@media (max-width: 768px) {
  .cid-tzrhN2mVsR .card a .card-wrapper {
    padding: 16px;
  }
}
.cid-tzrhN2mVsR .card a .card-wrapper .mbr-link {
  width: 100%;
  margin-bottom: 0;
  transition: all 0.3s ease-out;
}
.cid-tzrhN2mVsR .mbr-link {
  color: #ffffff;
  text-align: center;
}
.cid-tzrhL7LxJs {
  background-color: #f6f6f6 !important;
  border: 18px solid #f6f6f6;
  margin-top: -18px;
}
@media (max-width: 768px) {
  .cid-tzrhL7LxJs {
    border: 8px solid #f6f6f6;
    margin-top: -8px;
  }
}
.cid-tzrhL7LxJs .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-tzrhL7LxJs .mbr-overlay {
  border-radius: 1.2rem;
}
.cid-tzrhL7LxJs .row {
  position: relative;
  padding: 0 18px 0;
  margin: 0;
  justify-content: center;
  border-radius: 1.2em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #111111;
}
.cid-tzrhL7LxJs .row .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzrhL7LxJs .row .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tzrhL7LxJs .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-tzrhL7LxJs .copyright-wrap .copyright {
  opacity: .5;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tzrhL7LxJs .copyright-wrap .copyright {
    margin-bottom: 32px;
  }
}
.cid-tzrhL7LxJs .title-wrap {
  text-align: right;
}
.cid-tzrhL7LxJs .title-wrap a {
  display: inline-flex;
  align-items: center;
}
.cid-tzrhL7LxJs .title-wrap a .mbr-section-title {
  opacity: .5;
  margin-left: 16px;
  margin-bottom: 0;
}
.cid-tzrhL7LxJs .title-wrap a img {
  height: 44px;
  width: 44px;
  object-fit: contain;
  border-radius: .5em;
}
.cid-tzrhL7LxJs .mbr-section-title {
  color: #ffffff;
}
.cid-tzrhL7LxJs .copyright {
  color: #ffffff;
}
.cid-tzrhL7LxJs .mbr-section-title,
.cid-tzrhL7LxJs .title-wrap {
  text-align: right;
}
